version: '3'
services:
    database:
        image: mongo
        container_name: mongodb-bitcore
        volumes:
          - fileshare:/data/db
        command: mongod
        restart: always
        deploy:
            resources:
                limits:
                    memory: 1g
                    cpus: '0.5'        
    
    bitcore-node-stratis:
        build:
            context: ../
            dockerfile: Docker/Dockerfile
        container_name: bitcore-node-stratis
        image: bitcorestrax.azurecr.io/bitcore-node
        depends_on:
        - database
        ports:
        - 3000:3000        
        environment:
            - DB_HOST=localhost
            - DB_PORT=27017
            - BITCORE_CONFIG_PATH=/config/bitcore.config.json
        volumes:
          - config:/config
        restart: always
        deploy:
            resources:
                limits:
                    memory: 2g
                    cpus: '2' 

    bitcore-wallet-service-stratis:
        container_name: bitcore-wallet-service-stratis
        image: bitcorestrax.azurecr.io/bws
        depends_on:
        - database
        - bitcore-node-stratis
        ports:
        - 3032:3032
        environment:
            - DB_HOST=localhost
            - DB_PORT=27017
        volumes:
          - config:/config
        restart: always
        deploy:
            resources:
                limits:
                    memory: 1g
                    cpus: '1'

volumes:
    fileshare:
        driver: azure_file
        driver_opts:
            share_name: bitcorestratisdb_prod
            storage_account_name: bitcorestratis

    config:
        driver: azure_file
        driver_opts:
            share_name: configs
            storage_account_name: bitcorestratis